# Environments
.env
.venv
venv/
new_venv/

# Python cache
__pycache__/
*.pyc

# Databases
*.db
*.sqlite3

# Logs
*.log

# Large Language Models
LLM/
*.gguf

# IDE and tool cache
.pytest_cache/
pip_cache/

# Reports
*.json
*.html
*.xml
*.tar

# OS-specific
.DS_Store
Thumbs.db
